.model__right {
    background-image: url(../build/Image/model.jpg);
    width: 20%;
    background-position: center top;
    background-size: cover;
    height: 500px;
    position: relative;
}

.model__left {
    background-image: url(../build/Image/model.jpg);
    width: 20%;
    background-position: center top;
    background-size: cover;
    height: 500px;
}

.model__right img {
    width: 60%;
    position: absolute;
    top: 26%;
    left: 20%;
}

.info {
    background-color: rgba(184, 58, 58, 0.3);
    position: absolute;
    top: 76%;
    left: 0%;
    height: 120px;
    color: #fff;
}

.info h2 {
    color: rgb(67, 49, 226);
}

.glasses {
    padding-bottom: 112px;
}